<?xml version="1.0"?>
<launch>
    <arg name="config_path" default="$(find low_performance_lidar)/config" />
    <arg name="roomba" default="roomba1" />

	<!-- pole_eliminator -->
	<include file="$(find pole_eliminator)/launch/pole_eliminator.launch" >
        <arg name="roomba" value="$(arg roomba)"/>
    </include>

	<!-- low_performance_lidar -->
	<arg name="range_step"      default="1" />
	<arg name="upper_threshold" default="60.0" />
	<node pkg="low_performance_lidar" type="low_performance_lidar_node" name="low_performance_lidar" output="screen" >
		<!-- remap -->
		<remap from="lsr_in"  to="$(arg roomba)/corrected_scan" />
		<remap from="lsr_out" to="$(arg roomba)/filtered_scan" />
		
		<!-- param -->
		<param name="RANGE_STEP"              value="$(arg range_step)" />
		<param name="LOWER_REPLACEMENT_VALUE" value="-.inf" />
		<param name="UPPER_REPLACEMENT_VALUE" value=".inf" />
		<param name="UPPER_THRESHOlLD"        value="$(arg upper_threshold)"/>
	</node>

	<!-- rviz -->
    <arg name="is_rviz" default="true" />
    <group if="$(arg is_rviz)" >
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg config_path)/rviz/rviz.rviz" />
    </group>

</launch>