<?xml version="1.0"?>
<launch>
    <arg name="convertor_theta_s"    default="false" />
    <arg name="publish_objects_data" default="false" />
    <arg name="file_path"            default="$(env HOME)/bagfiles/experimental_file_20220630" />
    <arg name="wait_time"            default="0.0" />

    <!-- roomba1 -->
    <arg name="is_roomba1" default="true" />
    <group if="$(arg is_roomba1)" >
        <include file="$(find ros_utils)/launch/bag_player.launch" >
            <arg name="roomba"               value="roomba1" />
            <arg name="wait_time"            value="$(arg wait_time)" />
            <arg name="file_path"            value="$(arg file_path)" />
            <arg name="convertor_theta_s"    value="$(arg convertor_theta_s)" />
            <arg name="publish_objects_data" value="$(arg publish_objects_data)" />
        </include>
    </group>

    <!-- roomba2 -->
    <arg name="is_roomba2" default="true" />
    <group if="$(arg is_roomba2)" >
        <include file="$(find ros_utils)/launch/bag_player.launch" >
            <arg name="roomba"               value="roomba2" />
            <arg name="wait_time"            value="$(arg wait_time)" />
            <arg name="file_path"            value="$(arg file_path)" />
            <arg name="convertor_theta_s"    value="$(arg convertor_theta_s)" />
            <arg name="publish_objects_data" value="$(arg publish_objects_data)" />
        </include>
    </group>

    <!-- roomba3 -->
    <arg name="is_roomba3" default="true" />
    <group if="$(arg is_roomba3)" >
        <include file="$(find ros_utils)/launch/bag_player.launch" >
            <arg name="roomba"               value="roomba3" />
            <arg name="wait_time"            value="$(arg wait_time)" />
            <arg name="file_path"            value="$(arg file_path)" />
            <arg name="convertor_theta_s"    value="$(arg convertor_theta_s)" />
            <arg name="publish_objects_data" value="$(arg publish_objects_data)" />
        </include>
    </group>

    <!-- roomba4 -->
    <arg name="is_roomba4" default="true" />
    <group if="$(arg is_roomba4)" >
        <include file="$(find ros_utils)/launch/bag_player.launch" >
            <arg name="roomba"               value="roomba4" />
            <arg name="wait_time"            value="$(arg wait_time)" />
            <arg name="file_path"            value="$(arg file_path)" />
            <arg name="convertor_theta_s"    value="$(arg convertor_theta_s)" />
            <arg name="publish_objects_data" value="$(arg publish_objects_data)" />
        </include>
    </group>

    <!-- roomba5 -->
    <arg name="is_roomba5" default="true" />
    <group if="$(arg is_roomba5)" >
        <include file="$(find ros_utils)/launch/bag_player.launch" >
            <arg name="roomba"               value="roomba5" />
            <arg name="wait_time"            value="$(arg wait_time)" />
            <arg name="file_path"            value="$(arg file_path)" />
            <arg name="convertor_theta_s"    value="$(arg convertor_theta_s)" />
            <arg name="publish_objects_data" value="$(arg publish_objects_data)" />
        </include>
    </group>

    <!-- roomba6 -->
    <arg name="is_roomba6" default="true" />
    <group if="$(arg is_roomba6)" >
        <include file="$(find ros_utils)/launch/bag_player.launch" >
            <arg name="roomba"               value="roomba6" />
            <arg name="wait_time"            value="$(arg wait_time)" />
            <arg name="file_path"            value="$(arg file_path)" />
            <arg name="convertor_theta_s"    value="$(arg convertor_theta_s)" />
            <arg name="publish_objects_data" value="$(arg publish_objects_data)" />
        </include>
    </group>

</launch>