<?xml version="1.0"?>
<launch>
    <node pkg="rosbag" type="play" name="play" args=" -d 0.0 -l /home/amsl/karugamofukaya_2023-05-27-19-07-35.bag" />
    <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />
    <node pkg="nodelet" type="nodelet" name="point_cloud_xyzrgb" args="load depth_image_proc/point_cloud_xyzrgb nodelet_manager" >
        <remap from="rgb/camera_info" to="front_cam/camera/color/camera_info" />
        <remap from="rgb/image_rect_color" to="front_cam/camera/color/image_rect_color" />
        <remap from="depth_registered/image_rect" to="front_cam/camera/aligned_depth_to_color/image_raw" />
        <remap from="depth_registered/points" to="front_cam/camera/depth_registered/points" />
    </node>
    <node pkg="image_transport" type="republish" name="depth_republish" args="compressed raw" >
        <remap from="in" to="front_cam/camera/aligned_depth_to_color/image_raw" />
        <remap from="out" to="front_cam/camera/aligned_depth_to_color/image_raw" />
    </node>
    <node pkg="image_transport" type="republish" name="color_republish" args="compressed raw" >
        <remap from="in" to="front_cam/camera/color/image_rect_color" />
        <remap from="out" to="front_cam/camera/color/image_rect_color" />
    </node>
</launch>