<?xml version="1.0"?>
<launch>
    <arg name="roomba" default="roomba1" />

    <!-- theta_s -->
    <arg name="unzip_theta_s" default="true" />
    <group if="$(arg unzip_theta_s)" >
        <node pkg="image_transport" type="republish" name="$(arg roomba)_theta_s_republish" args="compressed raw" >
            <remap from="in"  to="$(arg roomba)/theta_s/image_raw" />
            <remap from="out" to="$(arg roomba)/theta_s/image_raw" />
        </node>
    </group>

    <!-- rgb image -->
    <arg name="unzip_color" default="true" />
    <group if="$(arg unzip_color)" >
        <node pkg="image_transport" type="republish" name="$(arg roomba)_color_republish" args="compressed raw" >
            <remap from="in"  to="$(arg roomba)/camera/color/image_rect_color" />
            <remap from="out" to="$(arg roomba)/camera/color/image_rect_color" />
        </node>
    </group>

    <!-- detected image -->
    <arg name="unzip_detect" default="true" />
    <group if="$(arg unzip_detect)" >
        <node pkg="image_transport" type="republish" name="$(arg roomba)_detected_republish" args="compressed raw" >
            <remap from="in"  to="$(arg roomba)/detected_image" />
            <remap from="out" to="$(arg roomba)/detected_image" />
        </node>
    </group>

</launch>
