<?xml version="1.0"?>
<launch>
    <arg name="roomba"      default="roomba1" />

    <!-- rosbag_tf_node -->
    <node pkg="tf_utils" type="rosbag_tf_node" name="$(arg roomba)_rosbag_tf" >
        <!-- remap -->
        <remap from="pose_in"  to="$(arg roomba)/amcl_pose" />
        <remap from="odom_in"  to="$(arg roomba)/roomba/odometry" />
        <remap from="pose_out" to="$(arg roomba)/pose" />

        <!-- params -->
        <param name="MAP_FRAME_ID"       value="map" />
        <param name="BASE_LINK_FRAME_ID" value="$(arg roomba)/base_link" />
    </node>

</launch>
