<?xml version="1.0"?>
<launch>
    <rosparam param="use_sim_time">true</rosparam>
    <arg name="option" default="-d 0.0 -l --clock" />
    <!-- <node pkg="rosbag" type="play" name="play" args=" $(arg option) /home/amsl/bag_files/lifelong_localization/karugamofukaya_2023-05-27-19-07-35.bag" /> -->
    <!-- <node pkg="rosbag" type="play" name="play" args=" $(arg option) /home/amsl/bag_files/lifelong_localization/testbbox_test_2023-07-20-20-14-10.bag" /> -->
    <!-- <node pkg="rosbag" type="play" name="play" args=" $(arg option) /home/amsl/bag_files/lifelong_localization/testbbox_dist_test_2023-07-20-20-24-40.bag" /> -->
    <node pkg="rosbag" type="play" name="play" args=" $(arg option) /home/amsl/bag_files/lifelong_localization/fukaya_smallloop_2023-12-28-18-01-47.bag" />
    <!-- <node pkg="rosbag" type="play" name="play" args=" $(arg option) /home/amsl/bag_files/lifelong_localization/fukaya_largeloopb_2024-01-20-13-39-27.bag" /> -->
    <!-- <node pkg="rosbag" type="play" name="play" args=" $(arg option) /home/amsl/bag_files/lifelong_localization/fukaya_largeloopb_2024-01-20-13-53-41.bag" /> -->
    <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />
    <node pkg="nodelet" type="nodelet" name="point_cloud_xyzrgb" args="load depth_image_proc/point_cloud_xyzrgb nodelet_manager" >
        <remap from="rgb/camera_info" to="front_cam/camera/color/camera_info" />
        <remap from="rgb/image_rect_color" to="front_cam/camera/color/image_rect_color" />
        <remap from="depth_registered/image_rect" to="front_cam/camera/aligned_depth_to_color/image_raw" />
        <remap from="depth_registered/points" to="front_cam/camera/depth_registered/points" />
    </node>
    <node pkg="image_transport" type="republish" name="depth_republish" args="compressed raw" >
        <remap from="in" to="front_cam/camera/aligned_depth_to_color/image_raw" />
        <remap from="out" to="front_cam/camera/aligned_depth_to_color/image_raw" />
    </node>
    <node pkg="image_transport" type="republish" name="color_republish" args="compressed raw" >
        <remap from="in" to="front_cam/camera/color/image_rect_color" />
        <remap from="out" to="front_cam/camera/color/image_rect_color" />
    </node>
    <node pkg="rslidar_sdk" type="rslidar_sdk_node" name="rslidar_sdk_node" output="screen">
        <param name="config_path" value="$(find ros_utils)/config/params/rslidar_bagplay_config.yaml" />
    </node>
    <!-- <node pkg="image_saver" type="image_saver_node" name="image_saver" output="screen" >
        <remap from="img_in" to="front_cam/camera/color/image_rect_color" />
        <param name="FILE_PATH" value="/home/amsl/Pictures/lifelong_localization/2023-12-12-13-56" />
        <param name="SAMPLE_INTERVAL" value="3" />
    </node> -->
</launch>